/* Overrides */
html, body {
  overflow-x: hidden;
}

.DateRangePickerInput__withBorder {
  border-radius: 0!important;
  border: 0!important;
}

.goal-card {
  height: 300px;
  margin: 25px;
}

.form-wrapper {
  text-align: center;
}

.goal-form-text {
  outline: none;
  border: 1px;
  padding-left: 15px;
}

.goal-form {
  background-color: #000;
  font-size: 19px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.goal-form input {
  height: 70px;
  font-weight: lighter;
}

.row {
  margin: none!important;
}

.navbar-logo {
  color: #fff;
  font-family: 'Bangers', cursive;
}

.jumbotron {
  margin-bottom: 0;
  margin-top: 0;
}

.footer {
  height: 200px;
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: #000;
}
