@import './stylesheets/_colors';
@import './stylesheets/_fonts';


/* Overrides */
html, body {
  overflow-x: hidden;
}

* {
  font-family: $standard-font;
}

.page {
  padding-top: 50px;
  height: 800px;
}


.footer {
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: #000;
}
