.goal-card {
  height: 300px;
  margin: 25px;
}

.goal-post {
  padding: 0;
}

.goal-form {
  text-align: center;
  background-color: #e9ecef;
  padding: 30px;
  font-size: 25px;
}

.goal-form input {
  text-align: center;
}

.navbar-logo {
  color: #fff;
  font-family: 'Bangers', cursive;
}

.jumbotron {
  margin-bottom: 0;
  margin-top: 0;
}

.footer {
  height: 200px;
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: #000;
}
