@import './stylesheets/_colors';
@import './stylesheets/_fonts';


/* Overrides */
html, body {
  overflow-x: hidden;
}

* {
  font-family: $standard-font;
}


.footer {
  height: 200px;
  color: #fff;
  padding: 5%;
  text-align: center;
  background-color: #000;
}
