@import './_colors';
@import './_fonts';
@import './_stylized_elements.scss';

.toolbelt-btn {
  border: 1px solid red;
  color: red;
  background-color: white;
  padding: 15px;
  border-radius: 100px;
  display: block;
  margin: auto;
  cursor: pointer;
  width: 200px;

  &:hover {
    border: 1px solid $watermelon;
    color: $watermelon;
  }
}

.toolbelt-btn-create {
  @extend .toolbelt-btn;
  border: 1px solid $teal;
  color: $teal;

  &:hover {
    color: #008B8B;
    border: 1px solid #008B8B;
  }
}

.goal-post {
  height: 800px;
}

.page-container {
  padding: 80px 0 20px 0;

}

.submit-btn {
  @extend %standard-btn;
}

.goal-link {
  color: white;
  display: block;
}

.goal-card {
  height: 325px;
  margin: 25px;
  transition: 0.3s;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s; /* Firefox < 16 */
      -ms-animation: fadein 0.5s; /* Internet Explorer */
       -o-animation: fadein 0.5s; /* Opera < 12.1 */
          animation: fadein 0.5s;
   &:hover {
     // border: 1px solid $matte;
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
   }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.goal-card-wrapper a{
  text-decoration: none;
  color: #fff;
}

.goal-card-title {
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  text-transform: uppercase;
  font-family: $element-font;
}

.card-details {
  background-color: $watermelon;
  height: 100%;
  padding: 20px;
}

.form-wrapper {
  text-align: center;
}

.goal-form-text {
  outline: none;
  border: 1px;
  padding-left: 15px;
}

.goal-form {
  background-color: #000;
  font-size: 19px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.goal-form input {
  height: 70px;
  font-weight: lighter;
}

.jumbotron {
  margin-bottom: 0;
  margin-top: 0;
}

.dark-panel {
  background-color: #fff;
  height: 500px;
}

.goal-page-details {
  height: fit-content;
  margin: 80px;
  border-radius: 20px;
  border: 1px solid $fresh;
}

.pie-chart-legend {
  background-color: $matte;
  color: #fff;
  font-family: $element-font;
  width: 100px;
  padding: 15px;
}

.red-block {
  height: 10px;
  width: 10px;
  background-color: $watermelon;
  float: left;
}
.blue-block {
  height: 10px;
  width: 10px;
  float: left;
  background-color: $teal;
}

.goal-page-wrapper {
  margin: 20px;
}

.goal-page-content {
  font-family: $element-font;
}

.goal-page-header {
  margin-top: 10px;
  font-family: $emphatic;
}

.graph-row {
  margin-bottom: 50px;
}
