@import './_colors';
@import './_fonts';

.hero a {
  text-decoration: none;
  color: #fff;
  padding: 50px;
}

.create-account-btn {
  padding: 20px;
  border: none;
  background-color: $teal;
  border-radius: 100px;

  &:hover {
    background-color: #008B8B;
  }
}

.home-wrapper {
  z-index: -1;
  background-color: $watermelon;
}

.main-nav {
  background-color: #FF6A5C;
  box-shadow: 0 1px 2px 0px grey;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1553484771-898ed465e931?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  text-shadow: 1px 1px 2px black;
  height: 900px;
}

.hero-text {
  padding-top: 80px;
  font-size: 80px;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tagline {
  font-family: $standard-font;
  font-size: 80px;
}

.mission-header {
  font-family: $emphatic;
  letter-spacing: 3px;
  font-size: 80px;
}

.info-box {
  padding: 100px;
  background-color: #fff;
}

.info-text {
  font-size: 20px;
  font-family: $standard-font;
  padding: 0 100px 0 100px;
}

.info-right {
  text-align: right;
}

.info-left {
  text-align: left;
}

.info-icon {
  width: 100px;
  display: block;
  margin: auto;
}

.info-box-title {
  text-align: center;
}

.pic-div {
  margin-bottom: 50px;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  float: right;
  margin: 0 10px 0 10px;
}

.index-panel {
  background-color: #fff;
  padding: 50px 0 50px 0;
  font-family: $standard-font;
}

.matte-panel {
  background-color: $matte;
  color: #fff;
  width: 100%;
}

.clear-panel{
  z-index: 1;
  position: relative;
  width: 100%;
  height: 500px;
  background: #fff;
  box-sizing: border-box;
  padding: 30px;
  color: #000;
  margin-bottom: 200px;
}

.clear-panel:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(7deg);
}

.fresh-panel {
  background-color: $watermelon;
  height: 500px;
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  color: #fff;
}

.fresh-panel:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background-color: $watermelon;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(4deg);
}


// Intro Panel Styles

.p-emphasize {
  font-size: 45px;
  font-family: $emphatic;
  letter-spacing: 1px;
}

.warhol-quote {
  font-size: 15px;
}

.intro-wrapper {
  color: #fff;
  height: 600px;
  text-align: center;
  padding-top: 8%;
  font-size: 20px;
  font-weight: lighter;
}
