@import './stylesheets/_colors';
@import './stylesheets/_fonts';

a {
  text-decoration: none;
}

/* Overrides */
html, body {
  overflow-x: hidden;
}

.page {
  padding-top: 50px;
  height: 800px;
  margin-bottom: 100px;
}


@media only screen and (min-width: 1441px) {
  body {
    margin: 0 500px;
  }
}
